/* countdown */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.redT{
  color: #CD493A;
}

.blueT{
  color: #4392F1;
}

.white{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.red{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: red;
}

.redAlert{
    font-size: 1.5rem;
    color: red;
    text-shadow: 0 0 10px #000;
}

.greenAlert{
  font-size: 1.5rem;
  color: green;
  text-shadow: 0 0 10px #000;
}

.mr{
    width: 100px;
    height: 100px;
    padding-left: 30px;
    margin: auto;
}